//      %W%  %E%

/// VERSION 9

(Win.Compile
	Name:	"tblafe.tbfafe"
	Flags:	0x0001
	Version:	9
	Script:	NULL
	ClientRes:	NULL
	FgColor:	"Win.DefFgColor"
	BgColor:	"Win.DefBgColor"
	Font:	"Win.DefFont"
	Pen:	"Win.DefPen"
	Pattern:	"Patt.Empty"
	Cursor:	"Curs.DefArrow"
	Help:	NULL
	Index:	0
	X:	20
	Y:	20
	W:	450
	H:	114
	ChrX:	0
	ChrY:	0
	ChrW:	0
	ChrH:	0
	RzFlags:	0x0000
	WgtFlags:	0x0001
	FocusFlags:	0x0001
	ValidFlags:	0x0000
	KeysNext:	"Panel.KeysNextWgt"
	KeysPrev:	"Panel.KeysPrevWgt"
	KeysNextInGrp:	"Panel.KeysNextRadio"
	KeysPrevInGrp:	"Panel.KeysPrevRadio"
	Label:	"tblafe"
	LabelJustif:	0x0000
	Mode:	0
	Style:	0
	Deco:	0x003f
	MinWidth:	100
	MinHeight:	40
	MaxWidth:	0
	MaxHeight:	0
	LabelColor:	"Win.DefLabelColor"
	FocusColor:	"Win.DefFocusColor"
	IconFont:	"Win.DefIconFont"
	Icon:	"Win.DefIcon"
	IconLabel:	NULL
	DDTarget:	0x0000
	PosFlags:	0x0001
	MenuBar:	NULL
	SysMenu:	NULL
	OptFlags:	0x0000
	ChildFlags:	0x0000
	IconFlags:	0x0000
	FrameLeft:	0
	FrameRight:	0
	FrameTop:	0
	FrameBottom:	0
	StatusLineH:	20
	DpiX:	78
	DpiY:	78
)

(Panel.Compile
	Name:	"tblafe.tbfafe.tbfafe"
	Flags:	0x0000
	Version:	9
	Script:	NULL
	ClientRes:	NULL
	FgColor:	"Panel.DefFgColor"
	BgColor:	"Panel.DefBgColor"
	Font:	"Wgt.DefFont"
	Pen:	"GUIdefs.InvisiblePen"
	Pattern:	"Patt.Empty"
	Cursor:	"Curs.DefArrow"
	Help:	NULL
	Index:	0
	X:	3
	Y:	3
	W:	444
	H:	108
	ChrX:	0
	ChrY:	0
	ChrW:	0
	ChrH:	0
	RzFlags:	0x0053
	WgtFlags:	0x0001
	FocusFlags:	0x0001
	ValidFlags:	0x0000
	KeysNext:	"Panel.KeysNextWgt"
	KeysPrev:	"Panel.KeysPrevWgt"
	KeysNextInGrp:	"Panel.KeysNextRadio"
	KeysPrevInGrp:	"Panel.KeysPrevRadio"
	Label:	NULL
	LabelJustif:	0x0000
)

(Palet.Compile
	Name:	"tblafe.tbfafe.tbfafe.Palet2"
	Flags:	0x0000
	Version:	9
	Script:	NULL
	ClientRes:	NULL
	FgColor:	"Wgt.DefFgColor"
	BgColor:	"Panel.DefBgColor"
	Font:	"Wgt.DefFont"
	Pen:	"GUIdefs.InvisiblePen"
	Pattern:	"Patt.Empty"
	Cursor:	"Curs.DefArrow"
	Help:	NULL
	Index:	0
	X:	0
	Y:	0
	W:	444
	H:	32
	ChrX:	0
	ChrY:	0
	ChrW:	0
	ChrH:	0
	RzFlags:	0x0000
	WgtFlags:	0x0001
	FocusFlags:	0x0001
	ValidFlags:	0x0000
	KeysNext:	"Panel.KeysNextWgt"
	KeysPrev:	"Panel.KeysPrevWgt"
	KeysNextInGrp:	"Panel.KeysNextRadio"
	KeysPrevInGrp:	"Panel.KeysPrevRadio"
	Label:	NULL
	LabelJustif:	0x0000
	HVFlags:	0x0000
	HeadW:	0
	HeadH:	0
	HSepW:	0
	HSepH:	0
	SbSepW:	4
	SbSepH:	4
	StyleFlags:	0x0007
	HLPen:	"Pen.2x2Solid"
	HEltMin:	15
	VEltMin:	15
	HEltMax:	70
	VEltMax:	70
	HMarMin:	8
	VMarMin:	8
	HMarMax:	8
	VMarMax:	8
	HSepMin:	5
	VSepMin:	5
	HSepMax:	7
	VSepMax:	7
	HHLExtraMin:	3
	VHLExtraMin:	3
	HHLExtraMax:	4
	VHLExtraMax:	4
	RowIncrement:	0
	NumElt:	0
)
